main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.stageContainer {
    /*Soft warm neutral background to keep focus on circles and reduce visual fatigue.*/
    background-color: linen;
    flex: 1;
}